.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-size: 12px;
        font-weight: 500;
        color: #fff;
        span {
            font-size: 18px;
            display: block;
            text-align: center;
        }
    }
    &__phone {
        display: block;
        font-size: 18px;
        color: #fff;
        &:hover {
            color:#fff;
            text-decoration: none;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }






    
}
@media (max-width: 768px) {
    .header {
        &__logo {
            width: 100%;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
    }}